body {
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial, sans-serif;
    background: #FFF9C4; /* amarelo bem claro */
}

/* Container app */
.app-container {
    max-width: 500px;
    margin: auto;
    padding: 25px;
}

/* Título */
.title {
    text-align: center;
    color: #4b0082;
    font-size: 32px;
    margin-bottom: 20px;
}

/* Form */
.form-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

    .form-box input {
        height: 45px;
        border-radius: 10px;
        border: 1px solid #b8b8b8;
        padding-left: 15px;
        font-size: 16px;
    }

/* Botão roxo */
button {
    height: 45px;
    background: #4b0082;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

    button:hover {
        transform: scale(1.03);
        background: #3c0068;
    }

.list-title {
    margin-top: 35px;
    color: #4b0082;
    text-align: center;
}

/* Lista */
.list-container {
    margin-top: 15px;
    max-height: 350px;
    overflow-y: auto;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #eee;
}

    thead th {
        padding: 12px;
        font-weight: bold;
        color: #4b0082;
    }

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 999;
}

.modal-content {
    background: white;
    width: 300px;
    margin: 20% auto;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* Animação modal */
.animate-modal {
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.7);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Mobile */
@media (max-width: 500px) {
    .app-container {
        padding: 15px;
    }
}
